<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rishiqing.modules.common.mapper.RsqCommonMapper" >

    <!-- 用户map -->
    <resultMap id="rsqUserMap" type="com.rishiqing.modules.common.entity.RsqUser" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <!-- 帐号是否被锁住 -->
        <id column="account_locked" property="accountLocked" jdbcType="BIT" javaType="java.lang.Boolean"/>
        <!-- 公司id -->
        <id column="team_id" property="teamId" jdbcType="VARCHAR" />
        <!-- 公司名字 -->
        <id column="team_name" property="teamName" jdbcType="VARCHAR" />
        <!-- 邮箱 -->
        <id column="email" property="email" jdbcType="VARCHAR" />
        <!-- 是否验证过邮箱 -->
        <id column="is_check_email" property="isCheckEmail" jdbcType="BIT" javaType="java.lang.Boolean"/>
        <!-- 密码 -->
        <id column="password" property="password" jdbcType="VARCHAR" />
        <!-- 手机号 -->
        <id column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
        <!-- 头像地址后缀 -->
        <id column="avatar" property="avatar" jdbcType="VARCHAR" />
        <!-- 个人设置名称 -->
        <id column="name" property="name" jdbcType="VARCHAR" />
        <!-- username -->
        <id column="username" property="username" jdbcType="VARCHAR" />
        <!-- accountId -->
        <id column="account_id" property="accountId" jdbcType="BIGINT" />
    </resultMap>

    <!-- team版本信息map -->
    <resultMap id="rsqTeamVersionMap" type="com.rishiqing.modules.common.entity.RsqTeamVersion" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <!-- 创建时间 -->
        <id column="date_created" property="dateCreated" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <!-- 更新时间 -->
        <id column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <!-- 类型 -->
        <id column="type" property="type" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 产品信息map -->
    <resultMap id="rsqPayProductMap" type="com.rishiqing.modules.common.entity.RsqPayProduct" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <!-- 价格 -->
        <id column="price" property="price" jdbcType="DOUBLE" javaType="java.lang.Double" />
        <!-- 描述（版本） -->
        <id column="description" property="description" jdbcType="VARCHAR" />
        <!-- 此产品是否可以被购买 -->
        <id column="can_buy" property="canBuy" jdbcType="BIT" javaType="java.lang.Boolean" />
        <!-- 公司会员类型 -->
        <id column="team_version_id" property="teamVersionId" jdbcType="INTEGER" />
    </resultMap>

    <!-- 获取日事清用户信息 -->
    <select id="getUserInfoInRishiqingDB" resultMap="rsqUserMap">
        SELECT
        u.id,
        u.version,
        u.is_parent,
        u.position,
        u.team_id,
        u.username,
        a.name,
        u.account_id,
        u.is_display
        FROM
        `user` AS u
        INNER JOIN account AS a ON a.id = u.account_id
        INNER JOIN team AS t ON u.team_id = t.id
        WHERE
        t.id = #{params.teamId}
        AND t.is_display = 1
        AND (
        <if test="params.email != null">
            a.email = #{params.email}
        </if>
        <if test="params.phone != null">
            or a.phone_number = #{params.phone}
        </if>
        )
        LIMIT 0,
        1;
    </select>

    <!-- 获取日事清用户信息 -->
    <select id="getUserInfoInRishiqingDBById" resultMap="rsqUserMap">
        SELECT
        u.id,
        t.id AS team_id,
        t.`name` AS team_name,
        a.account_locked,
        a.email,
        a.is_check_email,
        a.`password`,
        a.phone_number,
        a.avatar,
        a.`name`,
        u.username,
        u.account_id
        FROM
        account a,
        USER u
        LEFT JOIN team t ON t.id = u.team_id
        WHERE
        u.account_id = a.id
        AND u.is_display = TRUE
        AND u.id = #{id}
    </select>

    <select id="listUserInfoInRishiqingDB" resultMap="rsqUserMap">
        SELECT
        u.id,
        u.team_id,
        t.name as team_name,
        a.email,
        a.phone_number,
        a.name,
        u.username,
        u.account_id
        FROM
        `user` AS u
        INNER JOIN account AS a ON a.id = u.account_id
        INNER JOIN team AS t ON u.team_id = t.id
        WHERE
        u.is_display = 1
        AND t.id = #{params.teamId};
    </select>

    <select id="getUserInfoInRishiqingDBByUsername" resultMap="rsqUserMap">
        SELECT
        u.id,
        u.team_id,
        t.name as team_name,
        a.email,
        a.phone_number,
        a.name,
        u.username,
        u.account_id
        FROM
        `user` AS u
        INNER JOIN account AS a ON a.id = u.account_id
        INNER JOIN team AS t ON u.team_id = t.id
        WHERE
        u.is_display = 1
        AND u.username = #{params.username}
        AND u.team_id = #{params.teamId}
    </select>

    <!-- 获取版本信息 -->
    <select id="getTeamVersion" resultType="com.rishiqing.modules.common.entity.RsqTeamVersion">
      SELECT id, type from team_version WHERE type = #{versionName}
    </select>

    <select id="getTeamVersionByType" resultType="com.rishiqing.modules.common.entity.RsqTeamVersion">
        SELECT id, type from team_version WHERE type = #{type}
    </select>

    <select id="getTeamVersionById" resultType="com.rishiqing.modules.common.entity.RsqTeamVersion">
       SELECT id, type from team_version WHERE id = #{id}
    </select>

    <!-- 获取所有 teamVersion 组成列表 -->
    <select id="listTeamVersion" resultType="com.rishiqing.modules.common.entity.RsqTeamVersion" >
        SELECT id, type FROM team_version
    </select>

    <!-- 获取产品信息 -->
    <select id="getRsqPayProductByTeamVersionId" resultType="com.rishiqing.modules.common.entity.RsqPayProduct">
        SELECT * from pay_product WHERE team_version_id = #{teamVersionId}
    </select>

    <update id="updateRsqPassword" parameterType="com.rishiqing.modules.common.entity.RsqUser" >
        update account SET password = #{password} WHERE id = #{id}
    </update>
</mapper>