<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rishiqing.modules.userstatistic.mapper.RsqUserStatisticMapper" >

  <resultMap id="BaseResultMap" type="com.rishiqing.modules.userstatistic.entity.RsqUserStatistic" >
    <id column="id" property="id" jdbcType="VARCHAR" />
      <!-- 用户名 -->
    <result column="name" property="name" jdbcType="VARCHAR" />
      <!-- 邮箱 -->
    <result column="email" property="email" jdbcType="VARCHAR" />
      <!-- 手机号 -->
    <result column="phone" property="phone" jdbcType="VARCHAR" />
      <!-- 注册时间 -->
    <result column="regist_date" property="registDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
      <!-- 最后登录时间 -->
    <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
      <!-- 公司名 -->
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
      <!-- 公司人数 -->
    <result column="team_number" property="teamNumber" jdbcType="VARCHAR" />
      <!-- 数量来源 -->
    <result column="date_from" property="dateFrom" jdbcType="VARCHAR" />
      <!-- 渠道 -->
    <result column="date_channel" property="dateChannel" jdbcType="VARCHAR" />
      <!-- 用户id -->
      <result column="userId" property="userId" jdbcType="INTEGER"/>
      <!-- 用户id -->
      <result column="teamId" property="teamId" jdbcType="INTEGER"/>
      <!-- 登录次数 -->
      <result column="login_cnt" property="loginCnt" jdbcType="INTEGER" />
      <!-- 用户是否冻结 -->
      <result column="account_locked" property="accountLocked" jdbcType="BOOLEAN" />
  </resultMap>

    <!-- 系统统计数据存储map -->
    <resultMap id="systemStatistic" type="com.rishiqing.modules.userstatistic.entity.RsqSystemStatistic" >
        <!-- /** 共有用户 */ -->
        <result column="totalUser" property="totalUser" javaType="INTEGER" />
        <!-- /** 个人用户 */ -->
        <result column="singleUser" property="singleUser" javaType="INTEGER" />
        <!-- /** 公司用户 */ -->
        <result column="teamUser" property="teamUser" javaType="INTEGER" />
        <!-- /** 邀请未登录人数 */ -->
        <result column="waitLoginUser" property="waitLoginUser" javaType="INTEGER" />
        <!-- /** 共有公司 */ -->
        <result column="totalTeam" property="totalTeam" javaType="INTEGER" />
        <!-- /** 正式公司 */ -->
        <result column="effectiveTeam" property="effectiveTeam" javaType="INTEGER" />
        <!-- /** 失效公司 */ -->
        <result column="invaildTeam" property="invaildTeam" javaType="INTEGER" />
        <!-- /** 总邀请人数 */ -->
        <result column="allInviteUser" property="allInviteUser" javaType="INTEGER" />
        <!-- /** 当前在线人数 */ -->
        <result column="currentLoginUser" property="currentLoginUser" javaType="INTEGER" />
    </resultMap>

    <!-- 某人统计数据存储map -->
    <resultMap id="dayStatistic" type="com.rishiqing.modules.userstatistic.entity.RsqDayStatistic">
        <!-- /** 今日注册用户 */ -->
        <result column="registUser" property="registUser" javaType="INTEGER" />
        <!-- /** 今日新建公司 */ -->
        <result column="registTeam" property="registTeam" javaType="INTEGER" />
        <!-- /** 今日登录团队 */ -->
        <result column="loginTeam" property="loginTeam" javaType="INTEGER" />
        <!-- /** 今日登录用户 */ -->
        <result column="loginUser" property="loginUser" javaType="INTEGER" />
        <!-- /** 今日邀请未登陆人数 */ -->
        <result column="waitLoginUser" property="waitLoginUser" javaType="INTEGER" />
        <!-- /** 今日总邀请人数 */ -->
        <result column="allInviteUser" property="allInviteUser" javaType="INTEGER" />
    </resultMap>

    <!-- 用户信息统计 -->
  <select id="ajaxList" resultMap="BaseResultMap">
    SELECT
        a.id,
        a.`name` AS NAME,
        a.email AS email,
        a.phone_number AS phone,
        ur.reg_date AS regist_date,
        t.`name` AS teamName,
        ts.user_limit AS teamNumber,
        ur.client AS date_from,
        ur.client AS date_channel,
        t.id AS teamId,
        u.id AS userId,
        u.is_display as account_locked
    FROM
        account a,
        user_register ur,
        USER u
        LEFT JOIN team t ON t.id = u.team_id
        LEFT JOIN team_status ts ON ts.team_id = t.id
    WHERE
        u.account_id = a.id
    AND ur.account_id = a.id
      <if test="name != null and name != '' ">
          AND a.name like CONCAT(#{name},'%')
      </if>
      <if test="email != null and email != '' ">
          AND a.email like  CONCAT(#{email},'%')
      </if>
      <if test="phone != null and phone != '' ">
          AND a.phone_number like  CONCAT(#{phone},'%')
      </if>
      <if test="registBeginDate != null">
          AND ur.reg_date >=  #{registBeginDate}
      </if>
      <if test="registEndDate != null">
          AND #{registEndDate} >= ur.reg_date
      </if>
      <if test="teamId != null and teamId != '' ">
          AND u.team_id = #{teamId}
      </if>
      <if test="userId != null and userId != '' ">
          AND u.id = #{userId}
      </if>
    ORDER BY
        ur.reg_date DESC
      <if test="offset != null and limit != null ">
          limit #{offset}, #{limit}
      </if>
  </select>

    <!-- 用户信息统计 -->
    <select id="ajaxListWithTeamId" resultMap="BaseResultMap">
        SELECT
        a.id,
        a.`name` AS NAME,
        a.email AS email,
        a.phone_number AS phone,
        ur.reg_date AS regist_date,
        t.`name` AS teamName,
        ts.user_limit AS teamNumber,
        ur.client AS date_from,
        ur.client AS date_channel,
        t.id AS teamId,
        u.id AS userId,
        u.is_display as account_locked
        FROM
        account a,
        user_register ur,
        USER u
        LEFT JOIN team t ON t.id = u.team_id
        LEFT JOIN team_status ts ON ts.team_id = t.id
        WHERE
        u.account_id = a.id
        AND ur.account_id = a.id
        <if test="name != null and name != '' ">
            AND a.name like CONCAT(#{name},'%')
        </if>
        <if test="email != null and email != '' ">
            AND a.email like CONCAT(#{email},'%')
        </if>
        <if test="phone != null and phone != '' ">
            AND a.phone_number like CONCAT(#{phone},'%')
        </if>
        <if test="registBeginDate != null">
            AND ur.reg_date >=  #{registBeginDate}
        </if>
        <if test="registEndDate != null">
            AND #{registEndDate} >= ur.reg_date
        </if>
        <if test="teamId != null and teamId != '' ">
            AND u.team_id = #{teamId}
        </if>
        ORDER BY
        ur.reg_date DESC
        <if test="offset != null and limit != null ">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="rsqUserStatisticCount" resultType="java.lang.Integer">
        SELECT
          count(1)
        FROM
          account a
        WHERE
          1=1
        <if test="name != null and name != '' ">
            AND a.name like CONCAT(#{name},'%')
        </if>
        <if test="email != null and email != '' ">
            AND a.email like CONCAT(#{email},'%')
        </if>
        <if test="phone != null and phone != '' ">
            AND a.phone_number like CONCAT(#{phone},'%')
        </if>
    </select>

    <select id="getUserLoginInfo" resultType="com.rishiqing.modules.userstatistic.entity.RsqUserStatistic">
        SELECT
          count(*) as login_cnt,
          user_id,
          max(login_date) as last_login_date
        FROM
          user_login
          WHERE
          user_id = #{0}
--           GROUP BY
--           user_id
    </select>

    <!-- 获取日事清系统后台数据统计信息 -->
    <select id="getRsqSystemStatistic" resultMap="systemStatistic">
        SELECT sum(p1) totalUser, sum(p2) singleUser, sum(p3) teamUser
        FROM
        (
            SELECT count(*) p1, 0 p2, 0 p3 FROM `user`
            UNION ALL
            SELECT 0 p1, COUNT(*) p2, 0 p3 FROM `user` WHERE team_id IS NULL
            UNION ALL
            SELECT 0 p1, 0 p2, count(*) p3 FROM `user` WHERE team_id IS NOT NULL
        ) t
    </select>

    <!-- 获取日事清系统指定日期相关数据统计信息 -->
    <select id="getRsqDayStatistic" resultMap="dayStatistic">
        SELECT sum(t.userCnt) as registUser, sum(t.teamCnt) as registTeam from (
            SELECT count(1) as userCnt, 0 as teamCnt from user u, account a, user_register ur WHERE
            u.account_id = a.id
            AND
            ur.account_id = a.id
            AND
            ur.reg_date BETWEEN #{firstDate} AND #{lastDate}

            UNION ALL

            SELECT 0 as userCnt, count(1) as teamCnt from team WHERE
            date_created BETWEEN #{firstDate} AND #{lastDate}
        ) t
    </select>

    <!-- 账号激活 -->
    <update id="userActive" >
        UPDATE `user` SET is_display = TRUE WHERE id = #{0}
    </update>

    <!-- 账号注销 -->
    <update id="userFreeze" >
        UPDATE `user` SET is_display = FALSE WHERE id = #{0}
    </update>
    
</mapper>